input[type="checkbox"] {
  user-select: none;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  vertical-align: middle;
  border: 1px solid #a9a9a9;
  margin-right: 3px;
  outline: none;
}
input[type="checkbox"]:checked {
  border-color: #16bfb7;
  background: #16bfb7;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTYgMTYnIGZpbGw9JyNmZmYnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTUuNzA3IDcuMjkzYTEgMSAwIDAgMC0xLjQxNCAxLjQxNGwyIDJhMSAxIDAgMCAwIDEuNDE0IDBsNC00YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEw3IDguNTg2IDUuNzA3IDcuMjkzeicvPjwvc3ZnPg==);
}
input[type="radio"] {
  user-select: none;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #a9a9a9;
  margin-right: 3px;
  outline: none;
}
input[type="radio"]:checked {
  border-color: #16bfb7;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCc+CiAgICA8cGF0aCBmaWxsPSIjMTZCRkI3IiBkPSJNMTksMTJDMTksMTUuODYgMTUuODYsMTkgMTIsMTlDOC4xNCwxOSA1LDE1Ljg2IDUsMTJDNSw4LjE0IDguMTQsNSAxMiw1QzE1Ljg2LDUgMTksOC4xNCAxOSwxMloiIC8+Cjwvc3ZnPg==);
}
input:-ms-input-placeholder {
  color: #8e8e93 !important;
}
input::placeholder {
  color: #8e8e93 !important;
}
a:hover {
  color: #129b95
}
.icon-arrow-bottom {
  width: 20px;
  height: 12px;
  overflow: hidden;
  position: absolute;
}
.icon-arrow-bottom:before,
.icon-arrow-bottom:after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  border: 1px solid #493b32;
  border-radius: 1px;
  top: 5px;
}
.icon-arrow-bottom:before {
  transform: rotate(45deg);
  left: 0px;
}
.icon-arrow-bottom:after {
  transform: rotate(-45deg);
  left: 8px;
}
.arrow-mobile {
  display: none;
}
.arrow-pc {
  transition: 0.3s transform ease-in-out;
  display: block;
  width: 12px !important;
  height: 8px !important;
  overflow: hidden;
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -4px;
}
.arrow-pc:before,
.arrow-pc:after {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  border: 1px solid #493b32;
  border-radius: 1px;
  top: 4px;
}
.arrow-pc:before {
  transform: rotate(45deg);
  left: 0px;
}
.arrow-pc:after {
  transform: rotate(-45deg);
  left: 4px;
}
.menu-more:hover .arrow-pc {
  transform: rotate(-180deg);
}
.menu-more:hover .arrow-pc:before,
.menu-more:hover .arrow-pc:after {
  border: 1px solid inherit;
}
.menu-more a {
  position: relative;
}
.header .sub li {
  line-height: 2.5em;
  padding: 0 2em;
}
.header .sub li a {
  font-weight: normal;
}
.header-nav-inner {
  display: flex;
  align-self: stretch;
  justify-content: flex-end;
  align-items: flex-end;
}
.header-menu-item {
  margin-right: 24px;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.header-menu-item:hover {
  background-color: #ececee;
}
.header-menu-item a {
  color: #493b32;
  text-decoration: none;
  font-weight: bold;
}
.header-menu-item-mobile {
  display: none;
}
.mobile-menu-wrapper {
  display: none;
}
.login-body p,
.login-body ul,
.login-body ol {
  margin-bottom: 20px;
}
.login-main {
  width: 90%;
  position: relative;
  margin: auto;
  padding: 60px 20px 100px 230px;
  transition: 0.5s padding-left;
}
.login-main.no-nav {
  max-width: 1100px;
  padding-left: 20px;
}
.login-title-wrapper {
  margin-top: 40px;
}
.login-title-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
.login-title-wrapper h1 {
  margin-bottom: 20px;
  font-size: 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  font-weight: 700;
}
.login-title-wrapper + p {
  margin-top: -7px;
}
.form-item {
  margin: 10px 0;
}
.form-label {
  display: block;
  margin: 6px 0 3px;
  font-weight: 700;
}
.form-control {
  width: 100%;
  max-width: 540px;
  padding: 10px 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  border: solid 1px #d0d0d5;
  border-radius: 4px;
  background: #fff;
  -webkit-appearance: none;
}
.form-control:-ms-input-placeholder {
  color: #ccc;
}
.form-control::placeholder {
  color: #ccc;
}
.form-control:focus {
  outline: 0;
  border: 1px solid #16bfb7;
}
.form-btn {
  margin: 20px 0;
}
.login-methods {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.login-methods .login-methods-item {
  flex: 1;
  border-right: 2px solid #b4a094;
  padding: 0 8px;
}
.login-methods .login-methods-item:last-child {
  border-right: none;
}
.yellow-button  {
  color: #493b32;
  height: 32px;
  line-height: 32px;
  font-weight: 700;
  font-size: 14px;
  padding: 0 28px;
  text-align: center;
  background-color: #fddc3e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  outline: none;
  font-family: Noto Sans JP,Hiragino Kaku Gothic ProN,Arial,メイリオ,Meiryo,sans-serif
}
.yellow-button :hover {
  background-color: #fdce3e
}
.login-btn {
  height: 32px;
  padding: 0 10px;
  border-radius: 16px;
  background-color: #fddc3e;
  text-align: center;
  line-height: 32px;
  font-weight: bold;
}
.login-btn a {
  text-decoration: none;
  color: #493b32;
}
.submit-btn {
  /* display: inline-block; */
  /* -webkit-appearance: none; */
  /* position: relative; */
  height: 36.4px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  padding: 0 28px;
  border: 1px solid transparent;
  border-radius: 16px;
  color: rgba(255, 255, 255, .9);
  font-size: 14px;
  text-decoration: none;
  line-height: 36.4px;
  cursor: pointer;
  background: #16bFb7;
}
@media screen and (min-width: 800px) {
  .header .menu-more {
    padding-right: 28px;
  }
}
@media screen and (min-width: 800px) {
  /* .header .news-list:hover a {
    color: #fddc3e;
  } */
  .header .header-menu-item a:hover {
    color: inherit;
  }
  .header .sub li:hover {
    background-color: #16bfb7;
  }
  .header .sub li:hover > a {
    color: #fff;
  }
  .header .menu-more .menu-dropdown {
    padding-top: 20px;
    box-sizing: content-box;
    position: absolute;
    margin-left: -8px;
    transition: all .3s;
  }
  .header .sub {
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(26, 26, 26, 0.2);
    padding: 4px 0;
  }
  .header .sub > li {
    position: relative;
  }
  .header .sub > li .arrow-sub {
    margin-left: 8px;
  }
  .header .sub > li > .sub-container {
    padding-left: 2px;
    position: absolute;
    /* display: none; */
    top: 0;
    left: 160px;
    box-sizing: content-box;
  }
  .header .sub > li > .sub-container .sub-menu {
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(26, 26, 26, 0.2);
    padding: 4px 0;
    overflow: hidden;
    box-sizing: content-box;
  }
  .header .sub > li > .sub-container .sub-menu > li {
    white-space: nowrap;
  }
}
@media screen and (max-width: 800px) {
  /* .header {
    height: 44px;
    padding: 0 16px;
  } */
  .header .header-menu-item:hover > a {
    color: #493b32 !important;
  }
  .header .login-btn {
    display: none;
  }
  .header .header-menu-item {
    border-radius: 0;
    padding: 0;
  }
  .header .header-menu-item a {
    position: relative;
    font-size: 1.1rem;
    line-height: 28px;
    padding: 16px;
  }
  .arrow-mobile {
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 8px;
  }
  .header .arrow-pc {
    display: none;
  }
  .header .header-nav-inner {
    width: 100%;
  }
  .header-nav-inner.expand {
    width: 50%;
    transition: 0.3s width ease-in-out;
  }
  .header .menu-more .sub {
    box-shadow: none;
    position: relative;
    padding: 0;
    overflow-y: auto;
    box-sizing: content-box;
    visibility: hidden;
    height: 0;
    transition: 0.3s opacity ease-in-out;
    opacity: 0;
    width: 0;
    background: #f8f8f8;
  }
  .header .menu-more .sub > li {
    line-height: 28px;
    padding: 0;
    font-weight: normal;
    border-bottom: 0.5px solid #d0d0d5;
  }
  .header .menu-more .sub > li > a {
    padding: 16px;
    font-size: 1.1rem !important;
    font-weight: normal !important;
  }
  .header .menu-more .sub .sub-menu-more > a {
    transition: background-color 0.3s;
  }
  .header .menu-more .sub .sub-menu-more > a > .arrow-sub {
    font-size: 22px;
    transition: all 0.3s;
  }
  /* .header .menu-more .sub .sub-menu-more .sub-container {
    display: none;
  } */
  .header .menu-more .sub .sub-menu-more .sub-container .sub-menu > li {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 24px;
    border-bottom: 0.5px solid #d0d0d5;
  }
  .header
    .menu-more
    .sub
    .sub-menu-more
    .sub-container
    .sub-menu
    > li:first-child {
    border-top: 0.5px solid #d0d0d5;
  }
  .header
    .menu-more
    .sub
    .sub-menu-more
    .sub-container
    .sub-menu
    > li:last-child {
    border-bottom: none;
  }
  .header .menu-more .sub .sub-menu-more .sub-container .sub-menu > li > a {
    padding-right: 0;
    font-weight: normal !important;
  }
  .header .menu-more .sub .sub-menu-more.active > a {
    background-color: #16bfb7;
    color: #fff !important;
  }
  .header .menu-more .sub .sub-menu-more.active .arrow-sub {
    transform: rotate(90deg);
  }
  .header .menu-more .sub a {
    font-size: 14px !important;
    padding: 0 37px 0 0;
    height: 100%;
    display: flex;
    -webkit-box-flex: 1;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    align-items: center;
  }
  .header .menu-more.active {
    background-color: #f8f8f8;
  }
  .header .menu-more.active:hover {
    background-color: #f8f8f8;
  }
  .header .menu-more.active .sub {
    width: 50%;
    height: calc(100% - 44px);
    opacity: 1;
    visibility: visible;
    position: absolute;
    right: 0;
    top: 0;
  }
  .header .menu-more.active .sub a {
    color: #493b32 !important;
  }
  .header .menu-more.active .sub .icon-arrow-right:before,
  .header .menu-more.active .sub .icon-arrow-right:after {
    border: 1px solid #493b32 !important;
  }
}
@media screen and (max-width: 1300px) and (min-width: 800px) {
  .header-nav .menu-no-more {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  .header-nav-inner-mobile {
    display: none !important;
  }
}
@media only screen and (max-width: 800px) {
  .header-nav.active {
    visibility: visible;
  }
  .header-nav {
    overflow: scroll;
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    padding-bottom: 44px;
    visibility: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .header-nav-inner {
    display: block;
    text-align: left;
    padding-bottom: 75px;
  }
  .header-nav-inner-pc {
    display: none;
  }
  .mobile-menu-wrapper {
    display: block;
  }
  .mobile-menu-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    overflow: hidden;
    z-index: 100;
    width: 60px;
  }
  .mobile-menu-wrapper:before {
    content: " ";
    display: block;
    padding-top: 100%;
  }
  .mobile-menu-icon.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .mobile-menu-icon.active .line:nth-child(2) {
    opacity: 0;
  }
  .mobile-menu-icon.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .mobile-menu-icon {
    width: 24px;
    cursor: pointer;
  }
  .mobile-menu-icon .line {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #493b32;
    margin: 4px 0;
    transition: all 0.3s ease-in-out;
  }
  .mobile-menu-icon .line:first-child {
    margin: 0 0 4px 0;
  }
  .mobile-menu-icon .line:last-child {
    margin: 4px 0 0 0;
  }
}
.header-menu-item a {
  color: #493b32;
  text-decoration: none;
  font-weight: 700;
}
@media screen and (max-width: 1410px) and (min-width: 1301px) {
  .header-menu-item {
    margin-right: 8px;
  }
}
@media screen and (max-width: 1050px) and (min-width: 800px) {
  .header-menu-item {
    margin-right: 8px;
  }
}
/* @media only screen and (max-width: 1230px) {
  .footer-link {
    padding: 1em 0;
  }
} */
@media screen and (max-width: 800px) {
  .login-main {
    padding: 60px 0 100px;
    width: 95%;
  }
  .login-main.no-nav {
    padding-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .login-title-wrapper {
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  .login-methods .login-methods-item {
    width: 100%;
    flex: auto;
    border-right: none;
    padding: 16px 8px;
    border-bottom: 2px solid #b4a094;
  }
  .login-methods .login-methods-item:last-child {
    border-bottom: none;
  }
  .header-menu-item a {
    display: block;
    position: relative;
  }
  .header-menu-item {
    display: block;
    color: #493b32;
    border-bottom: 0.5px solid #d0d0d5;
    text-align: left;
    font-weight: bold;
    margin-right: 0;
  }
  .header-menu-item .sub a {
    font-weight: bold !important;
  }
}
.login-methods .login-methods-item p {
  margin-bottom: 12px;
}