@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

#app {
  min-height: 100%;
  color: #333;
}

input:focus {
  outline: none;
}

input:-internal-autofill-selected {
  background: transparent
}

.form-group {
  @apply my-2.5 text-base;
}

.form-label {
  @apply block mx-0 mt-1.5 mb-[0.187rem] font-bold align-baseline;
}

.form-input {
  @apply w-full max-w-[540px] py-2.5 px-2 border rounded bg-white;
}

.form-input:focus {
  outline: 0;
  border: 1px solid #16bfb7;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.3s;
  overflow: hidden;
}
.slide-down-enter-from,
.slide-down-leave-to {
  height: 0 !important;
  /* transform: translateY(-10px); */
  overflow: hidden;
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
